.wrapper {
    width: 352px;
    height: 504px;
    background-color: #fff;
    margin-left: 36px;
    border-radius: 20px;
    position: fixed;
    right: 40px;
    box-shadow: 5px 6px 20px rgba(62, 72, 118, 0.11);
}