.wrapper {
    width: 352px;
    height: 504px;
    background-color: #fff;
    margin-left: 36px;
    border-radius: 20px;
    position: fixed;
    right: 40px;
    box-shadow: 5px 6px 20px rgba(62, 72, 118, 0.11);
}
.titleBlock {
    width: 304px;
    margin: 24px;
    height: 28px;
    display: flex;
    justify-content: space-between;
}
.title {
    font-weight: 600;
    font-size: 25px;
}
.link {
    font-weight: 400;
    font-size: 18px;
    margin-top: 5px;
    color: #3162FF;
    text-decoration: none;
}
.link:hover {
    cursor: pointer;
    color: #002dbd;
}