body {
    overflow: hidden;
    min-width: 100vw;
    min-height: 100vh;
    background: url("../src/assets/bg-light.png") no-repeat center fixed;
    background-size: cover;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
}