body {
    overflow: hidden;
    min-width: 100vw;
    min-height: 100vh;
    background: url("../src/assets/bg-light.png") no-repeat center fixed;
    background-size: cover;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(212, 245, 247);
    box-shadow: inset 0 0 10px #d7e2f4;
    border-radius: 5px;
}