.wrapper {
    width: 100%;
    height: 100%;
}
.titleBlock {
    width: 304px;
    margin: 24px;
    height: 28px;
    display: flex;
    justify-content: space-between;
}
.title {
    font-weight: 600;
    font-size: 25px;
}
.link {
    font-weight: 400;
    font-size: 18px;
    margin-top: 5px;
    color: #3162FF;
    text-decoration: none;
}
.link:hover {
    cursor: pointer;
    color: #002dbd;
}
.friendsBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 410px;
}